!!!
%head
  %title Neo Viz
  %link{:href => '/assets/main.scss', :rel => 'stylesheet', :type => 'text/css'}

%body.neoviz_body
  = haml :_partial


  -# Arbor.js contains a hack in which it searches for a <script> element
  -# with src containing arbor.js, so that it can figure out which path to
  -# give its WebWorker constructor. But our Sprockets bundle exposes this hack since
  -# there no longer is a standalone <script> for arbor.js. So we get a request for "nullarbor.js".
  -# Workaround: give it a script tag here even though we reference
  -# it in main.sprockets.js
  -# (Have to pull in jquery here as well for arbor's pleasure.)
%script{:type => 'text/javascript', :src  => '/assets/lib/jQuery/jquery-1.6.1.min.js'}
%script{:type => 'text/javascript', :src  => '/assets/lib/arbor/arbor.js'}
%script{:type => 'text/javascript', :src  => '/assets/neo-viz.js'}