!!!
%head
  %title Neo Viz
  %link{:href => 'stylesheets/main.css', :rel => 'stylesheet', :type => 'text/css'}

%body.neoviz_body
  %header.neoviz_header
    %h1 Neo Viz
    %form
      %table
        %tr
          %td
            %label
              Node count:
              %input#node-count{:type => :number, :value => 10}
            %label
              Depth:
              %input#depth{:type => :number, :value => 1}
            %label
              Node filter:
              %input#node-filter
            %label
              Console
          %td{:rowspan => 2}
            %textarea#console{:name => 'console'}
              \# Evaluate code, call viz to visualize it
              root = Neo4j.ref_node
              viz root
            %input{:type => :submit, :value => 'Load'}
        %tr
          %td
            %label
              Key filter (a comma-separated string):
              %input#key-filter
    %p
      Click a node for detailed information
      Double-Click to load new nodes.

  #container
    %canvas#viewport{:width => '960', :height => '500'}
    %table#details


%script{:type => 'text/javascript', :src  => 'javascripts/jquery-1.6.1.min.js'}
%script{:type => 'text/javascript', :src  => 'javascripts/arbor.js'}
%script{:type => 'text/javascript', :src  => 'javascripts/data.js'}
%script{:type => 'text/javascript', :src  => 'javascripts/canvas_util.js'}
%script{:type => 'text/javascript', :src  => 'javascripts/main.js'}
