!!!
%head
  %title Neo Viz
  %link{:href => '/stylesheets/main.css', :rel => 'stylesheet', :type => 'text/css'}
%body
  %header
    %h1 Neo Viz
    %p Click a node for detailed information, Double-Click to load new nodes.

  #container
    %canvas#viewport{:width => '960', :height => '500'}
    %table#details







  %script{:type => 'text/javascript', :src  => 'javascripts/jquery-1.6.1.min.js'}
  %script{:type => 'text/javascript', :src  => 'javascripts/arbor.js'}
  %script{:type => 'text/javascript', :src  => 'javascripts/arbor-tween.js'}
  %script{:type => 'text/javascript', :src  => 'javascripts/data.js'}
  %script{:type => 'text/javascript', :src  => 'javascripts/canvas_util.js'}
  %script{:type => 'text/javascript', :src  => 'javascripts/main.js'}

