%header.neoviz_header
  %h1 Neo Viz
  %form#loadForm
    %table
      %tr
        %td
          %label
            Console
          %br
          %textarea.console#console{:name => 'console'}
            \# Evaluate code, call viz to visualize it
            root = Neo4j.ref_node
            viz root
          %input{:type => :submit, :value => 'Load'}
          %label
            Depth:
            %input#depth{:type => :number, :value => 1}

      %tr
        %td#consoleOutput
          %label
            Console output
            %br
            %textarea.consoleOutputArea#consoleOutputArea

  %p
    Click a node for detailed information
    Double-Click to load new nodes.

#container
  %table
    %tr
      %td
        %canvas#viewport{:width => '960', :height => '500'}
      %td
        =haml :_filters
        .details
          %table#details
